<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>
                Tasks
            </th>
        </tr>
        <tr>
            <td>
                <a href="/dynemic-table/">Dynemic-Table</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/cucu-cube/">cucu-cube-game</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/tic-tac-toe/">cucu-cube-game</a>
            </td>
        </tr>
    </table>
</body>
</html>